.field-roles.chzn-select {
  width: 300px;
}

.edit-in-place .editable {
	padding-left: 8px;
	display: block;
}
.profile-field-add-field-name-container,
.field-instance-container label {
	cursor: auto;
}
.field-instance-container .editable {
	cursor: text;
}
.clearfix {
  clear: both;
}
.instructions {
	font-size: .825em;
	font-style: italic;
	font-weight: normal;
}
.draggable-field-instance-helper {
	background-color: #F3F3F3;
}
.draggable-vertical {
	width: 24px;
	height: 24px;
	display: block;
	float: left;
}
.profile-field-instance:hover .draggable-vertical,
.draggable-field-instance-helper  .draggable-vertical {
	background: url(drag-n-drop.png) no-repeat center;
	cursor: move;
}

.profile-field-instance:hover,
.profile-role:hover,
.profile-invitation:hover {
	background-color: #F6F6F6;
}

#profile-field-instances .chzn-container-multi .chzn-choices {
	cursor: pointer;
}
#draggable-field-instance-helper th,
#draggable-field-instance-helper td label,
#profile-fields td label,
#profile-fields th {
	white-space: nowrap;
}
.profile-field {
	width: 300px;
}
.profile-field,
.profile-role-description,
.profile-role-name {
	height: 2.25em;
}
#profile-fields td label,
#draggable-field-instance-helper td label{
	width: 200px;
	display: block;
}
#profile-fields td {
	vertical-align: top;
}
.roles-select, 
.field-type-select {
	width: 25em;
}




.delete {
	width: 24px;
	height: 24px;
}
.profile-field-instance:hover .delete,
.profile-role:hover .delete,
.profile-invitation:hover .delete {
	background: url(delete_16x16.gif) no-repeat center;
	cursor: pointer;
}

#profile-fields th,
#profile-invitations th,
#profile-roles th {
	text-align: left;
}

th .instructions {
	color: red; 
}
.profile-role-name {
	width: 300px;
}

